{% extends "base.html" %}
{% load humanize %}
{% block content %}
<section>
    <div class="my-10 py-3 px-4 bg-gray-100 rounded-xl shadow-lg border h-full container mx-auto">
        <h1 class="font-bold text-3xl text-center pb-5 pt-2">Order History</h1>
        <hr />
        <h1 class="container mx-auto text-lg font-bold underline">Total Orders : {{borrows | length}}</h1>
        <table
          class="table-auto mx-auto w-full px-5 rounded-xl mt-8 border dark:border-neutral-500"
        >
          <thead class="bg-purple-900 text-white text-left">
            <tr
              class="bg-gradient-to-tr from-indigo-600 to-purple-600 rounded-md py-2 px-4 text-white font-bold"
            >
              <th class="px-4 py-2">Date</th>
            
              <th class="px-4 py-2">Order Status</th>
              
              <th class="px-4 py-2">Amount</th>
              <th class="px-4 py-2">Balance After Transaction</th>
              <th class="px-4 py-2">Flower</th>
             
            </tr>
          </thead>
          <tbody>
            {% for borrow in borrows %}
            <tr class="border-b dark:border-neutral-500">
              <td class="px-4 py-2">
                {{ borrow.timestamp|date:"F d, Y h:i A" }}
              </td>
             
            <td class="px-4 py-3 text-s border">
                <span
                  class="px-2 py-1 font-bold leading-tight rounded-sm {% if transaction.get_transaction_type_display == 'Withdrawal' %} text-red-700 bg-red-100 {% else %} text-green-700 bg-green-100 {% endif %}"
                >
                  {{ borrow.get_transaction_type_display }}
                </span>
              </td> 
              <td class="px-4 py-2">
                $ {{ borrow.amount|floatformat:2|intcomma }}
              </td>
              <td class="px-4 py-2">
                $ {{ borrow.balance_after_transaction|floatformat:2|intcomma }}
              </td>
              <td class="px-4 py-2 ">
               <div class="flex">
                    <img class="w-[80px] mx-auto" src="{{borrow.flower.image.url}}" alt="">
                    <p class="w-2/3 mx-auto">{{ borrow.flower.title }}</p>
               </div>
              </td>
              
            </tr>
            {% endfor %}
            <tr class="bg-gradient-to-tr from-indigo-600 to-purple-600 rounded-md py-2 px-4 text-white font-bold">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <div class="flex justify-center py-2 text-lg">
                        <p>Current Balance : ${{request.user.customer.balance|floatformat:2|intcomma}}</p>
                    </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
</section>
{% endblock content %}

