{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <section class="py-10 bg-[#FBEDEB]">
        <div class="container mx-auto bg-white rounded-lg">
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-0 gap-y-5 py-10  shadow-lg p-10">
                <div class="mx-auto w-[70%]">
                    <img class="border p-3 shadow" src="{{flower.image.url}}" alt="">
                </div>
    
                <div class="mx-auto space-y-4">
                    <h2 class="font-bold text-gray-700">SAME DAY DELIVERY</h2>
                    <h1 class="text-2xl">{{flower.title}}</h1>
                    <p class="text-xl">$ {{flower.borrowing_price|intcomma }}</p>
                    <p class="text-sm">
                        {{flower.description}}
                    </p>
                    <p>or 4 payments of $18.75 by <span class="bg-[#B2FCE4] py-2 px-2 rounded-full text-xs font-bold">@stripe</span>

                    </p>
                    <p>Get FREE shipping on this order by becoming a ProPerks member.</p>
                    <div class="">
                        {% for category in flower.categories.all %}
                            <span class="inline-block bg-green-600 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2 ">#{{ category.name }}</span>
                        {% endfor %}
                    </div>
                  
                   <a role="button" href="{%url 'borrow' flower.id%}" class="text block hover:bg-gray-800 font-bold bg-gray-900 py-2 px-5 text-white font-medium rounded w-[20%]">Buy now </a>
                 
                </div>
            </div>

        </div>

        {% comment %} flower reviews {% endcomment %}
        {% if reviews %}
        <div class="my-2">
            <h1 class="text-2xl font-bold my-4 text-center">User Reviews</h1>
            {% for review in reviews %}
                <div class="container mx-auto bg-white rounded-lg p-10 border space-y-4 my-4">
                    <h1 class="font-bold underline text-sm">{{review.user.username}}</h1>
                    <p class="italic font-medium text-lg">"{{review.content}}"</p>
                    <p class="text-yellow-700">Ratings : {{review.ratings}}/5</p>
                    <p class="text-sm">Reviwed at : {{review.timestamps}}</p>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>
{% endblock content %}