{% extends "base.html" %}

{% block content %}
    <section class="py-10   ">
        <h1 class="text-center my-10 text-4xl font-serif">Shop by occasion</h1>

        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 max-w-6xl lg:mx-auto mx-4 gap-4">
            {% for service in services %}
            <div class="card  bg-base-100 ">
                <figure><img src="{{service.image}}" alt="" /></figure>
                <div class="card-body bg-[#C1E39E]">
                  <h2 class="card-title">
                   {{service.title}}
                  </h2>
                 
                 
                </div>
              </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}

