{% extends "base.html" %}

{% block content %}
    <section>
        <div class="bg-[#C2E49F] mb-10">
          <div class="max-w-7xl mx-auto h-[300px] flex justify-center items-center flex-col">
            <h1 class="text-3xl font-serif text-center">The fun side of flowers</h1>
            <p class="text-center">Welcome to Proflowers! Come in, it’s so good to see you. Let us take your coat, kick your shoes off wherever and let’s have some fun!</p>
          </div>

        </div>
        <div class="flex">
            <div style="background-image:
        url('https://images.ctfassets.net/ztm44xofsurz/t1gukxJ31qtOaGhsQN0Jd/108a64c6ce99da510319fb0ed7e3fe5a/PF_About22_Splitbanner_Text.jpg?w=1920&fm=webp&q=70');background-size: cover;
        color: white;
        padding: 20px; background-position: center;
        background-repeat: no-repeat;
        background-size: cover" class="h-[500px] w-[50%]"></div>
            <div style="background-image:
        url('https://images.ctfassets.net/ztm44xofsurz/5A7h1xaPi4EYWyA2Lr1Gzf/b12c7683dbe95195e6bd2cf1f9843ffe/AboutUs_splitbanner_image.png?w=1920&fm=webp&q=70');background-size: cover;
        color: white;
        padding: 20px; background-position: center;
        background-repeat: no-repeat;
        background-size: cover" class="h-[500px]  w-[50%]"></div>
        </div>
    </section>
{% endblock content %}
