{% load humanize %}
<div class=" bg-base-100 border-b-2 border-gray-900">
   <div class="navbar max-w-7xl mx-auto py-4 ">
    <div class="navbar-start lg:w-[20%] md:w-[20%]">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="{%url 'deposit'%}" class="block mt-4 lg:inline-block lg:mt-0 text-blue-900 hover:text-red-900 hover:font-black mr-4">
                Deposit
            </a></li>
            <li><a>Services</a></li>
        <li><a>About us</a></li>
        <li><a>Order History</a></li>
        <li><a> (Wallet : ${{request.user.customer.balance|intcomma}})</a></li>
        {% if request.user.is_authenticated %}
        <li>
         <details >
           <summary>Dashboard</summary>
           <ul class="p-2">
             <li>  <a href="{%url 'profile'%}" class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white bg-green-600 hover:bg-green-700">Profile</a></li>
             
           </ul>
         </details>
       </li>
       {% else %}
       <div>
         <a href="{%url 'signin'%}"   class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white bg-green-600 hover:bg-green-700">Login</a>
     </div>
     <div>
         <a href="{%url 'signup'%}" class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white bg-green-600 hover:bg-green-700">Register</a>
     </div>
        {% endif %}
          </ul>
        </div>
        <a href="{%url 'home'%}">
          <img  class="w-[160px]" src="https://images.ctfassets.net/ztm44xofsurz/5817xu9L1II4goaEU7V9PQ/9feabcb21452592e2d3af246078cf6b0/proflowers-logo.svg?w=256&fm=webp&q=70" alt="">
        </a>
      </div>
      <div class="navbar-end lg:w-[80%] md:w-[80%] hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="{%url 'deposit'%}" class="block mt-4 lg:inline-block lg:mt-0 text-blue-900 hover:text-red-900 hover:font-black mr-4">
            Deposit
        </a></li>
        <li><a>Services</a></li>
        <li><a>About us</a></li>
        <li><a>Order History</a></li>
        <li><a> (Wallet : ${{request.user.customer.balance|intcomma}})</a></li>
       {% if request.user.is_authenticated %}
       <li>
        <details >
          <summary>Dashboard</summary>
          <ul class="p-2">
            <li>  <a href="{%url 'profile'%}" class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white bg-green-600 hover:bg-green-700">Profile</a></li>
            
          </ul>
        </details>
      </li>
      {% else %}
      <div>
        <a href="{%url 'signin'%}"   class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white bg-green-600 hover:bg-green-700">Login</a>
    </div>
    <div>
        <a href="{%url 'signup'%}" class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white bg-green-600 hover:bg-green-700">Register</a>
    </div>
       {% endif %}
        </ul>
      </div>
   </div>
   
  </div>