<section style="background-image:

url('https://i.ibb.co/TcGvz8F/0278-Proflowers-Winter24-Site-Sympathy-Hero.webp');
width: 100%;
height: 400px;
background-size: cover;
color: white;
padding: 20px; background-position: center;
background-repeat: no-repeat;
background-size: cover;
"  class="">
    <div class="max-w-7xl mx-auto text-black">
        <div class="flex items-start h-[400px] flex-col justify-center">
            <h2 class="text-4xl font-serif mb-3">with sympathy</h2>
        <p>Send comfort with a thoughtful arrangement.</p>
        <button class="bg-black py-2 px-4 rounded text-white my-3">Get started</button>
        </div>
    </div>
</section>