<footer
style="
  background:#C1E39E
"
>
<div class="grid lg:grid-cols-2 grid-cols-1  text-white py-20 gap-4 max-w-6xl mx-auto ">
 
  <div class=" text-gray-800 space-y-4 flex lg:block flex-col justify-center items-center">
    <p class="text-lg lg:w-[50%] w-[70%] text-center lg:text-start">
      Copyright © Proflowers. All Rights Reserved by <a target="_blank" href="https://www.linkedin.com/in/tajkier-haque/" class="text-gray-600 font-bold underline">Raiyan</a>
    </p>
    <p class="font-semibold text-lg">Follow us </p>
    <ul class="flex space-x-2">

      <li>
        <a href="">
            <img class="w-[50%]" src="https://i.ibb.co/Q9645xJ/Facebook.png" alt="Facebook" border="0">
        </a>
      </li>
      <li>
        <a href="">
            <img class="w-[50%]" src="https://i.ibb.co/6F2r8Ms/Instagram.png" alt="Instagram" border="0">
        </a>
      </li>
      <li>
        <a href="">
            <img class="w-[50%]" src="https://i.ibb.co/X5Qs0Qq/Twitter.png" alt="Twitter" border="0">
        </a>
      </li>
    </ul>
  </div>

  
  <div class="text-gray-800 grid lg:grid-cols-2 grid-cols-1 mx-auto lg:mx-0 lg:space-y-0 space-y-8 text-center lg:text-start">
    <div>
      <h4 class="font-semibold text-lg mb-8">Company</h4>
      <ul class="text-gray-800 space-y-4">
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="">Contact us</a>
        </li>
        <li>
          <a href="">Careers</a>
        </li>
        <li>
          <a href="">Culture</a>
        </li>
        <li>
          <a href="">Blog</a>
        </li>
      </ul>
    </div>
   
    <div>
      <div class="">
        <h4 class="font-semibold text-lg mb-8">Support</h4>
        <ul class="text-gray-800 space-y-4">
          <li>
            <a href="">Getting started</a>
          </li>
          <li>
            <a href="">Help center</a>
          </li>
          <li>
            <a href="">Server status</a>
          </li>
          <li>
            <a href="">Report a bug</a>
          </li>
          <li>
            <a href="">Chat support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>