{% extends "base.html" %}

{% block content %}
    {% include "hero.html" %}

    {% comment %} Category List {% endcomment %}
   <section class="py-10 bg-[#FBEDEB]">
    <h1  class="drop-shadow text-center mt-2 mb-16 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">Flowers and Categories</h1>
        <ul class="container mx-auto flex jusity-between items-center gap-4 flex-wrap">
            <li class="border border-gray-900 text-sm font-bold rounded hover:text-white hover:bg-green-600 border-2 capitalize py-2 px-4 transition hover:border-green-600">
                <a href="{%url "home"%}">All</a>
            </li>
            {% for cate in categories %}
                <li class="border border-gray-900 text-sm font-bold rounded hover:text-white hover:bg-green-600 border-2 capitalize py-2 px-4 transition hover:border-green-600">
                    <a href="{%url 'flower_slug' cate.slug%}">{{cate.name}}</a>
                </li>
            {% endfor %}
        </ul>
   </section>


   {% comment %} Books {% endcomment %}
   <section class="bg-[#FBEDEB]">
       <h1 class="container mx-auto text-lg font-bold underline">Total Flowers : {{flowers | length}}</h1>
    <div class="container mx-auto grid lg:grid-cols-4 grid-cols-1 gap-4 py-10 ">
        {% for flower in flowers %}
        <div class="max-w-sm  mx-auto  rounded-lg overflow-hidden shadow-lg border bg-white">
            <img class="w-full h-[200px] object-contain block py-4" src="{{flower.image.url}}" alt="Sunset in the mountains">
            <div class="px-6 py-4">
            <div class="text-sm text-[#0F1111]">{{flower.title}}</div>
            <p class="text-sm font-bold py-2">Qunatity : {{flower.quantity}}</p>
            <p class="text-gray-700 text-gray-900 font-medium my-4">
               {{flower.description | truncatechars:30}} <a href="{%url 'book_details' flower.id %}" class="text-green-600 underline">Details</a>
            </p>
            </div>
            <div class="px-6  pb-2">
                {% for category in flower.categories.all %}
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ category.name }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
   </section>
{% endblock content %}
